a {
  font-weight: normal;
  color: #000000;

  &:link {
    text-decoration: none;
  }
}

.table1 {
  tr,
  td,
  th {
    border: 1px solid black;
  }
}

table {
  width: 100%;

  th,
  td {
    width: 1%;
  }

  th {
    text-align: center;
  }

  td:last-child,
  td:nth-last-child(2) {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  dl {
    font-size: 11px;
  }
}
