<div class="d-flex justify-content-center">
  <div class="col-12 col-sm-9 col-lg-6">
    <div *ngIf="huiVien">
      <h2 data-cy="huiVienDetailsHeading"><span>Chi tiết hụi viên</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>STT</span></dt>
        <dd>
          <span>{{ huiVien.id }}</span>
        </dd>
        <dt><span>Họ tên</span></dt>
        <dd>
          <span>{{ huiVien.hoTen }}</span>
        </dd>
        <dt><span>Hụi tham gia</span></dt>
        <dd>
          <ul *ngIf="!!huiVien?.chiTietHuis" style="padding-left: 0; list-style: none">
            <li *ngFor="let huiThamGia of huiVien?.chiTietHuis">
              <a
                [routerLink]="['/hui', huiThamGia?.hui?.id, 'view']"
                style="text-decoration: none; font-weight: normal; white-space: nowrap"
                >{{ huiThamGia?.hui?.tenHui }}</a
              >
            </li>
          </ul>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
      </button>

      <button type="button" [routerLink]="['/hui-vien', huiVien.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
      </button>
    </div>
  </div>
</div>
