<div class="d-flex justify-content-center">
  <div class="col-12 col-sm-9 col-lg-6">
    <div *ngIf="huiVien">
      <h2 data-cy="huiVienDetailsHeading"><span>Chi tiết hụi viên</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>STT</span></dt>
        <dd>
          <span>{{ huiVien.id }}</span>
        </dd>
        <dt><span>Họ tên</span></dt>
        <dd>
          <span>{{ huiVien.hoTen }}</span> <span class="huisongchet"> | </span><span class="huisongchet">{{ thongKe }}</span>
        </dd>

        <dt><span>Tổng hụi sống:</span></dt>
        <dd>
          <span
            ><ng-container *ngIf="calculateTotalHuiSong(huiVien?.chiTietHuis) as value"> {{ value | number }}đ </ng-container></span
          >
        </dd>
        <dt><span>Tổng hụi chết:</span></dt>
        <dd>
          <span
            ><ng-container *ngIf="calculateTotalHuiChet(huiVien?.chiTietHuis) as value"> {{ value | number }}đ </ng-container></span
          >
        </dd>

        <dt><span>Hụi tham gia: </span></dt>
      </dl>

      <ol *ngIf="!!huiVien?.chiTietHuis" style="padding-left: 0">
        <table class="table1">
          <tr>
            <th>Tên hụi</th>
            <th>Hụi sống</th>
            <th>Hụi chết</th>
          </tr>
          <tr class="name" *ngFor="let huiThamGia of huiVien?.chiTietHuis; let i = index">
            <td>
              <a [routerLink]="['/hui', huiThamGia?.hui?.id, 'view']">{{ huiThamGia?.hui?.tenHui }}</a>
            </td>

            <td>
              <ng-container *ngIf="!!huiThamGia?.isHuiSong"> {{ huiThamGia.tienHuiSong | number }} đ </ng-container>
            </td>
            <td>
              <ng-container *ngIf="!huiThamGia?.isHuiSong"> {{ huiThamGia.tienHuiChet | number }} đ </ng-container>
            </td>
          </tr>
          <tr class="total">
            <th></th>
            <th>
              <ng-container *ngIf="calculateTotalHuiSong(huiVien?.chiTietHuis) as value"> {{ value | number }}đ </ng-container>
            </th>
            <th>
              <ng-container *ngIf="calculateTotalHuiChet(huiVien?.chiTietHuis) as value"> {{ value | number }}đ </ng-container>
            </th>
          </tr>
        </table>
      </ol>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
      </button>

      <button type="button" [routerLink]="['/hui-vien', huiVien.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
      </button>
    </div>
  </div>
</div>
