table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  vertical-align: middle;
  padding: 5px;
}

th {
  background-color: #D0FFBC;
}

.in {
  border: 1px solid black;
  width: 50px;
  color: white;
  background: green;
}

.name {
  color: #0f76b6dc;
  font-weight: 600;
}

th:nth-child(1), td:nth-child(1) {
  width: 40%;
}

th:nth-child(2), td:nth-child(2) {
  width: 18%;
}
th:nth-child(3), td:nth-child(3),
th:nth-child(4), td:nth-child(4) {
  width: 16%;
}

table td {
  word-wrap: break-word;
  white-space: normal;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.left-align {
  text-align: left;
}

a {
  text-decoration: none;
  color: black !important;
}

.black-border {
  border: 1px solid black;
}

.money-right {
  text-align: right;
  margin-right: 1rem;
}

.large-text {
  font-size: 150%;
  font-weight: bold;
}
