<div #screen>
  <mat-form-field class="pickerField" style="width: 100%" appearance="fill">
    <mat-label class="red-text">Danh sách hụi kêu ngày</mat-label>
    <input matInput
           [formControl]="todayControl"
           [matDatepicker]="picker" class="red-text"
           (click)="picker.open()"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker class="datepicker" #picker></mat-datepicker>
  </mat-form-field>

  <div class="timeResult red-text small-text">
    Danh sách hụi kêu ngày {{ formatDate() }}
  </div>

  <ng-container *ngFor="let tk of thongkes; let i = index">
    <table [ngClass]="'tb' + i">
      <thead>
      <tr>
        <th (click)="in(i)" style="cursor: pointer">
          {{ tk.tenHuiVien }}
          <br>
          <span class="large-text">Còn lại: {{ tk.conLai | number }}</span>
        </th>
        <th>Hụi hốt</th>
        <th>Hụi sống</th>
        <th>Hụi chết</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let h of tk.chiTiet">
        <td class="left-align">
          <a [routerLink]="['/hui', h.huiId, 'view']">{{ h.tenHui }}</a>
        </td>
        <td class="money-right">{{ h.huiHot != 0 ? (h.huiHot | number) : '' }}</td>
        <td class="money-right">{{ h.huiSong != 0 ? (h.huiSong | number) : '' }}</td>
        <td class="money-right">{{ h.huiChet != 0 ? (h.huiChet | number) : '' }}</td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</div>
<div class="mt-3">
  <span style="color: red; font-style: italic">* Nhấn vào tên người chơi để in</span>
</div>
<div class="mt-3">
  <button class="back btn btn-info" data-cy="entityDetailsBackButton" routerLink="/hui" type="submit">
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
  </button>
</div>
