<jhi-page-ribbon></jhi-page-ribbon>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="mat-drawer-inner-container">
      <mat-list>
        <button mat-button style="width: 222px" routerLink="/hui">
          <mat-list-item>Danh sách hụi</mat-list-item>
        </button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="/hui-vien">
          <mat-list-item>Danh sách thành viên</mat-list-item>
        </button>

        <mat-divider></mat-divider>

        <!--        <button mat-button routerLink="/chi-tiet-hui">-->
        <!--          <mat-list-item>Chi tiết hụi</mat-list-item>-->
        <!--        </button>-->
      </mat-list>

      <!--      <button mat-raised-button color="primary" (click)="logout()">Đăng xuất</button>-->
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="container-content">
      <mat-card style="margin-bottom: 16px; text-align: center; font-weight: 400; top: 0; position: sticky; z-index: 999">
        <mat-card-content class="responsive-font-size">
          Chủ Hụi: Cô ngân - SDT: 0911.300.487<br />
          Địa chỉ: 180/9 Bùi Văn Ba Quận 7, Tp Hồ Chí Minh<br />
        </mat-card-content>
      </mat-card>
      <router-outlet></router-outlet>
    </div>
    <!-- khoi.hlt TODO: re style footer -->
    <!-- <jhi-footer *ngIf="currentUser$ | async"></jhi-footer> -->
  </div>
</mat-drawer-container>
