<div #screen>
  <jhi-page-ribbon></jhi-page-ribbon>
  <mat-drawer-container class="container" autosize>
    <div class="sidenav-content">
      <div class="container-content">
        <mat-card
          class="card-global"
          style="
            text-align: center;
            font-weight: 400;
            top: 0;
            position: sticky;
            z-index: 999;
            box-shadow: none !important;
            background: #fafafa !important;
            border-radius: 0;
          "
        >
          <mat-card-content class="responsive-font-size">
            <b>Chủ Hụi: Cô Ngân</b><br />
            SĐT: 0911.300.487<br />
            Địa chỉ: 180/9 Bùi Văn Ba Quận 7, Tp Hồ Chí Minh<br />
          </mat-card-content>
        </mat-card>
        <router-outlet></router-outlet>
      </div>
      <!-- <jhi-footer *ngIf="currentUser$ | async"></jhi-footer> -->
    </div>
  </mat-drawer-container>
</div>

<div *ngIf="service.isLoading$ | async" class="loading-overlay">
  <mat-spinner></mat-spinner>
</div>
