@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

// Apply the theme to Angular Material
@include angular-material-theme($theme);

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .mat-card-header-text {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  mat-form-field.loai-hui-filter {
    width: 100% !important;
  }

  // <mat-form-field class="loai-hui-filter"
  .col-11 {
    flex: 0 0 auto;
    width: 96%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 1px !important;
  }

  .button-add-minus {
    text-align: center !important;
    white-space: nowrap;
  }

  table {
    th {
      font-size: 12px;
      padding: 1px 0 !important;
    }

    th > td {
      padding: 1px 0 !important;
    }
  }

  .table > :not(caption) > * > * {
    padding: 1px 0 !important;
    font-size: 12px;
  }

  .container-content {
    padding: 2px !important;
  }

  .btn {
    padding: 1.5px 2.5px;
  }

  .mat-dialog-content {
    padding: 0 10px !important;
  }
}

button.btn.btn-info {
  width: 49%;
  height: 40px;
  background: #fe0002 !important;
  border: none;
}
button.btn.btn-primary {
  width: 49%;
  height: 40px;
  background: #008000 !important;
  border: none;
}
