<div #screen class="huiDetail">
  <table class="info-table">
    <tr>
      <th>Hụi viên:</th>
      <th>Điện Thoại:</th>
      <th>Địa chỉ:</th>
    </tr>
  </table>

  <table class="second-table margin05rem">
    <tr>
      <th>Số dây</th>
      <th>Số chân</th>
      <th>Chết</th>
      <th>Sống</th>
      <th>
        <div class="breakclose">HỤI SỐNG <span>(đã đóng)</span></div>
      </th>
      <th>
        <div class="breakclose">HỤI CHẾT <span>(cần tất toán)</span></div>
      </th>
      <th>
        <div class="breakclose">CÂN BẰNG <span>(ÂM/DƯƠNG)</span></div>
      </th>
      <th>
        <div class="breakclose">LỢI NHUẬN <span>(đến kỳ hiện tại)</span></div>
      </th>
    </tr>
    <tr>
      <td class="sd">Số dây</td>
      <td>Số chân</td>
      <td class="hc">Chết</td>
      <td class="song">Sống</td>
      <td>HỤI SỐNG (đã đóng)</td>
      <td>HỤI CHẾT (cần tất toán)</td>
      <td class="cb">CÂN BẰNG (ÂM/DƯƠNG)</td>
      <td class="ln">LỢI NHUẬN (đến kỳ hiện tại)</td>
    </tr>
    <tr>
      <td class="spec" colspan="8">
        Số tiền trên bảng này tính trên số liệu thực tế HỐT HỤI, ĐÔNG HỤI đã được XÁC NHẬN (LƯU) tới thời điểm hiện tại, không bao gồm dữ
        liệu ĐÔNG HỤI TẠM TÍNH ở bảng bên dưới. .5
      </td>
    </tr>
  </table>

  <table class="third-table margin05rem">
    <tr>
      <th>STT</th>
      <th>Dây hụi</th>
      <th>Số tiền</th>
      <th>Kỳ hụi</th>
      <th>Số kỳ đóng</th>
      <th>Ngày hốt</th>
      <th>Số tiền bỏ thăm</th>
      <th>Chết</th>
      <th>Sống</th>
      <th>Số tiền đã đóng</th>
      <th>Số tiền hốt</th>
      <th>Ghi chú</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="6">CỘNG</td>
      <td style="color: blue">990,00</td>
      <td colspan="2"></td>
      <td style="color: blue">5,010,00</td>
      <td style="color: blue">0</td>
      <td></td>
    </tr>
    <tr>
      <td class="spec" colspan="9">
        <div class="total totalfont">
          <span>TỔNG SỐ TIỀN HỤI VIÊN PHẢI ĐÓNG</span>
          <span> Ms. Ngân</span>
        </div>
      </td>
      <td class="spec totalfont" colspan="2">5,010,000</td>
      <td class="spec"></td>
    </tr>
  </table>
  <!-- <div>
    <ng-container>
      <div class="d-flex justify-content-center sticky-top">
        <div class="col-12 col-sm-9 col-lg-6">
          <div *ngIf="hui">
            <jhi-alert-error></jhi-alert-error>
            <jhi-alert></jhi-alert>
            <table class="table table-bordered hui-info" style="margin-bottom: 0.2rem">
              <tbody>
              <tr>
                <td>{{ hui.tenHui }}</td>
                <td>{{ hui.ngayTao | formatMediumDate }}</td>
              </tr>
              <tr>
                <td>Dây:</td>
                <td>{{ hui.dayHui | number }}</td>
              </tr>
              <tr>
                <td>Kì:</td>
                <td>{{ ki }}</td>
              </tr>
              <tr>
                <td>Phần chơi:</td>
                <td>{{ hui.soPhan }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="d-flex justify-content-center">
      <div class="col-12 col-sm-9 col-lg-6">
        <div *ngIf="hui">
          <h6
            style="margin-bottom: 2px; padding: 3px 0; line-height: 1; display: flex; justify-content: space-between; align-items: center"
            data-cy="huiDetailsHeading"
          >
            <span>CHI TIẾT</span>
          </h6>
          <div style="overflow-x: hidden">
            <table class="table table-striped table-detail" aria-describedby="page-heading">
              <thead style="text-align: center">
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending"
                  (sortChange)="navigateToWithComponentValues()">
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Người hốt</span>
                  </div>
                </th>
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Kỳ</span>
                  </div>
                </th>
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Tiền hốt</span>
                  </div>
                </th>
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Thăm kêu</span>
                  </div>
                </th>
                <th scope="col" jhiSortBy="id">
                  <div class="d-flex">
                    <span></span>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let chiTietHui of chiTietHuis">
                <tr data-cy="entityTable" [ngStyle]="{ background: getColorByKi(chiTietHui.ky) }">
                  <td>
                    <a>
                      <ng-container *ngIf="!chiTietHui?.nickNameHuiVien">{{ chiTietHui.huiVien.hoTen }}</ng-container>
                      <ng-container *ngIf="!!chiTietHui?.nickNameHuiVien"
                      >{{ chiTietHui.huiVien.hoTen }} ({{ chiTietHui?.nickNameHuiVien }})
                      </ng-container
                      >
                    </a>
                  </td>
                  <td style="text-align: center" *ngIf="chiTietHui?.ky; else noneTemplate">{{ chiTietHui?.ky }}</td>
                  <td *ngIf="chiTietHui?.tienHot; else noneTemplate"
                      style="text-align: right">{{ chiTietHui?.tienHot | number }}
                  </td>
                  <td
                    *ngIf="!chiTietHui?.thamKeu; else showThamKeu">
                    Nhập
                  </td>
                  <ng-template #showThamKeu>
                    <td style="text-align: right">{{ chiTietHui?.thamKeu | number }}</td>
                  </ng-template>
                  <td
                    *ngIf="chiTietHui?.tienHot; else noneTemplate"
                    style="text-align: center; width: 10px; cursor: pointer"
                    (click)="xemTinhTien(chiTietHui)"
                  >
                    Xem
                  </td>
                  <ng-template #noneTemplate>
                    <td></td>
                  </ng-template>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-between pb-4">
            <button class="back btn btn-info" data-cy="entityDetailsBackButton" routerLink="/hui" type="submit">
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
            </button>
            <button [routerLink]="['/hui', hui.id, 'edit']" class="edit btn btn-primary" type="button">
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
