<div class="headerTitle">
  <p>PHIẾU ĐÓNG HỤI TẠM TÍNH</p>
  <span class="time">{{ selectedDate }}</span>
</div>

<div #screen class="huiDetail">
  <table class="info-table">
    <tr>
      <th>
        Hụi viên: <span class="namehuivien">{{ data?.huiVien }}</span>
      </th>
      <th>Điện Thoại:</th>
      <th>Địa chỉ:</th>
    </tr>
  </table>

  <!-- <table class="second-table margin05rem">
    <tr>
      <th>Số dây</th>
      <th>Số chân</th>
      <th>Chết</th>
      <th>Sống</th>
      <th>
        <div class="breakclose">HỤI SỐNG <span>(đã đóng)</span></div>
      </th>
      <th>
        <div class="breakclose">HỤI CHẾT <span>(cần tất toán)</span></div>
      </th>
      <th>
        <div class="breakclose">CÂN BẰNG <span>(ÂM/DƯƠNG)</span></div>
      </th>
      <th>
        <div class="breakclose">LỢI NHUẬN <span>(đến kỳ hiện tại)</span></div>
      </th>
    </tr>
    <tr>
      <td class="sd">{{ data?.soDay }}</td>
      <td>{{ data?.soChan }}</td>
      <td class="hc" style="color: red">{{ data?.chet }}</td>
      <td class="song">{{ data?.song }}</td>
      <td class="money-size">{{ data?.huiSong | number }}</td>
      <td class="money-size">{{ data?.huiChet | number }}</td>
      <td class="cb money-size">{{ data?.canBangAmDuong | number }}</td>
      <td class="ln money-size">{{ data?.loiNhuan | number }}</td>
    </tr>
    <tr>
      <td class="spec dateSize" colspan="8">
        Số tiền trên bảng này tính trên số liệu thực tế HỐT HỤI, ĐÔNG HỤI đã được XÁC NHẬN (LƯU) tới thời điểm hiện tại, không bao gồm dữ
        liệu ĐÔNG HỤI TẠM TÍNH ở bảng bên dưới. .5
      </td>
    </tr>
  </table> -->

  <table class="third-table margin05rem">
    <tr>
      <th>STT</th>
      <th>Dây hụi</th>
      <th>Số tiền</th>
      <th>Kỳ hụi</th>
      <th>Số kỳ đóng</th>
      <th>Ngày hốt</th>
      <th>Số tiền bỏ thăm</th>
      <th>Chết</th>
      <th>Sống</th>
      <th>Số tiền đóng</th>
      <th>Số tiền hốt</th>
    </tr>
    <tr *ngFor="let hui of data?.dayHuis; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <a [routerLink]="['/ds-hui-khui', hui.huiId]">
          {{ hui.tenDayHui }}
        </a>
      </td>
      <td>
        <div class="ngaymo">
          {{ hui.soTien | number }}<span class="dateSize">( N.mở: {{ hui.ngayMo | date: 'dd/MM/yy' }} )</span>
        </div>
      </td>
      <td>{{ hui.kyHui }}</td>
      <td>{{ hui.soKyDong }}</td>
      <td class="ngayhot dateSize">{{ hui.ngayHot | date: 'dd/MM/yy' }}</td>
      <td class="money-size">{{ hui.soTienBoTham | number }}</td>
      <td>{{ hui.chet }}</td>
      <td style="color: green">{{ hui.song }}</td>
      <td class="money-size">{{ hui.soTienDong | number }}</td>
      <td class="money-size">{{ hui.soTienHot | number }}</td>
      <!--      <td></td>-->
    </tr>
    <tr>
      <td colspan="9">CỘNG</td>
      <td style="color: blue" class="money-size">{{ tongSoTienDong() | number }}</td>
      <td style="color: blue" class="money-size">{{ tongSoTienHot() | number }}</td>
    </tr>
    <tr>
      <td class="spec" colspan="9">
        <div class="total totalfont">
          <span>TỔNG SỐ TIỀN HỤI VIÊN PHẢI ĐÓNG</span>
          <span>{{ data?.huiVien }}</span>
        </div>
      </td>
      <td class="spec totalfont" colspan="2">{{ tongSoTienPhaiDong() | number }}</td>
    </tr>
  </table>

  <div class="d-flex justify-content-between pb-4 margin05rem">
    <button class="back btn btn-info" (click)="goBack()" type="submit">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
    </button>
  </div>
</div>
