table {
  font-family: 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  font-size: 9px;
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  font-weight: bold;
}

.info-table {
  td,
  th {
    background-color: #80808066;
  }
}

.second-table {
  .breakclose {
    display: flex;
    flex-direction: column;
  }

  th,
  td {
    text-align: center;
  }

  td {
    background-color: #dafdc3;
  }

  .spec {
    background-color: white;
    font-style: italic;
    font-size: 6.5px;
  }

  .sd {
    color: orange;
  }

  .huichet {
    color: red;
  }

  .song {
    color: blue;
  }

  .cb {
    color: blue;
  }

  .ln {
    color: red;
  }

  th {
    background-color: #f5f5f5;
  }
}

.third-table {
  .total {
    display: flex;
    flex-direction: column;
  }

  .totalfont {
    color: green;

    font-size: 15px;
  }

  .breakclose {
    display: flex;
    flex-direction: column;
  }

  th,
  td {
    text-align: center;
  }

  .spec {
    background-color: #d3e1ff;
  }

  th {
    background-color: #ffdfc3;
  }
}

.margin05rem {
  margin-top: 0.5rem;
}
