<div class="d-flex justify-content-center">
  <div class="col-11">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 data-cy="HuiCreateUpdateHeading" id="jhi-hui-heading">
        <p *ngIf="editForm.controls.id.value === null; else editHui">Tạo Hụi</p>
      </h2>
      <ng-template #editHui>Sửa Hụi</ng-template>

      <div>
        <jhi-alert></jhi-alert>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input [readonly]="true" class="form-control" data-cy="id" formControlName="id" id="field_id" name="id" type="number" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tenHui">Tên hụi</label>
          <input type="text" class="form-control" name="tenHui" id="field_tenHui" data-cy="tenHui" formControlName="tenHui" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_ngayTao">Ngày tạo</label>
          <div class="input-group" style="padding: 0">
            <input
              id="field_ngayTao"
              data-cy="ngayTao"
              type="text"
              class="form-control"
              name="ngayTao"
              ngbDatepicker
              #ngayTaoDp="ngbDatepicker"
              formControlName="ngayTao"
            />
            <button type="button" class="btn btn-secondary" (click)="ngayTaoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_loaiHui">Loại hụi</label>
          <select class="form-control" name="loaiHui" formControlName="loaiHui" id="field_loaiHui" data-cy="loaiHui">
            <option [ngValue]="null"></option>
            <option *ngFor="let loaiHui of loaiHuiValues" [value]="loaiHui">{{ loaiHui | enumToDescription }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dayHui">Dây hụi</label>
          <input type="number" class="form-control" name="dayHui" id="field_dayHui" data-cy="dayHui" formControlName="dayHui" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_soPhan">Số phần</label>
          <input type="number" class="form-control" name="soPhan" id="field_soPhan" data-cy="soPhan" formControlName="soPhan" />
        </div>
      </div>
      <!-- danh sách hụi viên  -->
      <div *ngIf="editForm.controls.id.value === null">
        <h6 style="margin-top: 20px">Danh sách thành viên</h6>

        <!-- khoi.hlt choose hụi viên -->
        <mat-form-field appearance="fill">
          <mat-select [formControl]="huivienAddControl" multiple>
            <mat-option *ngFor="let hv of huivienTable" [value]="hv">{{ hv.hoTen }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- khoi.hlt -->

        <button color="accent" type="button" mat-raised-button style="margin-bottom: 10px" (click)="resetNhapThamKeu()">
          Xóa thăm kêu đã nhập
        </button>

        <p style="color: red">{{ textError }}</p>
        <div style="overflow-x: auto">
          <table id="customers">
            <tr>
              <th>Tên hụi viên</th>
              <th>Thăm kêu</th>
              <th>Thêm hụi viên</th>
            </tr>
            <tr *ngFor="let hv of huivienTableAdded">
              <td>{{ hv.hoTen }}</td>
              <td>
                <input
                  [disabled]="hv.isDisableInput"
                  style="width: 100%; display: inline-block; min-width: 130px"
                  type="number"
                  #searchInput
                  id="field_thamkeu"
                  class="form-control"
                  name="thamkeu"
                  (change)="inputThamKeu($event, hv)"
                />
              </td>
              <td class="button-add-minus">
                <button
                  type="button"
                  color="primary"
                  (click)="minusHuiVien(hv)"
                  mat-mini-fab
                  aria-label="Example icon button with a home icon"
                >
                  <mat-icon>remove</mat-icon>
                </button>

                <span>{{ hv?.number }}</span>

                <button
                  type="button"
                  color="primary"
                  (click)="addHuivien(hv)"
                  mat-mini-fab
                  aria-label="Example icon button with a home icon"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>

        <hr />
      </div>

      <!-- Table hụi viên -->
      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>

<div style="height: 30px"></div>

<div class="d-flex justify-content-center" *ngIf="editForm.controls.id.value !== null">
  <div class="col-11">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-hui-heading" data-cy="HuiCreateUpdateHeading">Thêm và xoá danh sách thành viên</h2>

      <jhi-alert-error></jhi-alert-error>

      <div class="row mb-3">
        <mat-form-field appearance="fill" style="padding: 0">
          <mat-label>Danh sách hụi viên</mat-label>
          <mat-select formControlName="huiViens">
            <mat-option *ngFor="let hv of huiviens" [value]="hv">{{ (hv | prettyprint).hoTen }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row mb-3" *ngIf="!!hui?.chiTietHuis?.length; else notHaveTemplate">
        <mat-chip-listbox style="padding: 0">
          <mat-chip
            style="display: inline-block; padding: 4px 14px; margin-right: 10px; font-size: 20px; border-radius: 4px"
            class="example-box"
            *ngFor="let huivien of hui?.chiTietHuis"
          >
            {{ huivien?.huiVien?.hoTen }}
            <button
              (click)="deleleHuivien(huivien)"
              type="button"
              mat-mini-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-listbox>
      </div>

      <ng-template #notHaveTemplate><p>Không có hụi viên tham gia</p></ng-template>
    </form>
  </div>
</div>
