table {
  width: 100%;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 14px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: silver;
  color: black !important;
}

label {
  margin: 0;
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.form-control:disabled {
  background-color: silver;
  opacity: 1;
}

.icon-display {
  transform: scale(0.75);
}
