<!--<div class="d-flex justify-content-center">-->
<!--  <div class="col-12 col-sm-9 col-lg-6">-->
    <div #screen class="huiDetail">
      <div>
        <mat-card class="sticky-header-card">
          <mat-card-content class="responsive-font-size">
            <b>Chủ Hụi: Cô Ngân</b><br />
            SĐT: 0911.300.487<br />
            Địa chỉ: 180/9 Bùi Văn Ba Quận 7, Tp Hồ Chí Minh<br />
          </mat-card-content>
        </mat-card>
        <div *ngIf="hui">
          <div class="table-detail overflow-container">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Dây hụi</span>
                  </div>
                </th>
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Số tiền</span>
                  </div>
                </th>
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Số chân</span>
                  </div>
                </th>
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Số kỳ đóng</span>
                  </div>
                </th>
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Số tiền bỏ thăm</span>
                  </div>
                </th>
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Chết</span>
                  </div>
                </th>
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Sống</span>
                  </div>
                </th>
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Số tiền đóng</span>
                  </div>
                </th>
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Số tiền hốt</span>
                  </div>
                </th>
                <th jhiSortBy="ky" scope="col">
                  <div class="d-flex justify-content-center">
                    <span>Tổng bill</span>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let chiTiet of chiTietHuis; let i = index">
                <tr>
                  <td>
                    <a [routerLink]="['/hui', chiTiet.huiId, 'view']">{{ chiTiet.dayHui }}</a>
                  </td>
                  <td>{{ chiTiet.soTien | number }}</td>
                  <td>{{ chiTiet.soChan }}</td>
                  <td>{{ chiTiet.soKyDong }}</td>
                  <td>{{ chiTiet.soTienBoTham | number }}</td>
                  <td>{{ chiTiet.chet ? 'X' : '' }}</td>
                  <td>{{ chiTiet.song ? 'X' : '' }}</td>
                  <td>{{ chiTiet.soTienDong | number }}</td>
                  <td>000</td>
                  <td>0000</td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between pb-4">
            <button class="back btn btn-info" data-cy="entityDetailsBackButton" (click)="goBack()" type="submit">
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
            </button>

            <button [routerLink]="['/hui', hui.id, 'edit']" class="edit btn btn-primary" type="button">
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
            </button>
          </div>
        </div>
      </div>
    </div>
<!--  </div>-->
<!--</div>-->