<div #screen class="huiDetail">
  <div>
    <mat-card
      (click)="capture()"
      style="
        cursor: pointer;
        text-align: center;
        font-weight: 400;
        top: 0;
        position: sticky;
        z-index: 999;
        box-shadow: none !important;
        background: #fafafa !important;
        border-radius: 0;
        padding: 0 0 5px 0;
      "
    >
      <mat-card-content class="responsive-font-size">
        <b>Chủ Hụi: Cô Ngân</b><br />
        SĐT: 0911.300.487<br />
        Địa chỉ: 180/9 Bùi Văn Ba Quận 7, Tp Hồ Chí Minh<br />
      </mat-card-content>
    </mat-card>
    <ng-container>
      <div class="d-flex justify-content-center sticky-top">
        <div class="col-12 col-sm-9 col-lg-6">
          <div *ngIf="hui">
            <jhi-alert-error></jhi-alert-error>
            <jhi-alert></jhi-alert>

            <table class="table table-bordered hui-info" style="margin-bottom: 0.2rem">
              <tbody>
                <tr>
                  <td>{{ hui.tenHui }}</td>
                  <td>{{ hui.ngayTao | formatMediumDate }}</td>
                </tr>
                <tr>
                  <td>Dây:</td>
                  <td>{{ hui.dayHui | number }}đ</td>
                </tr>
                <tr>
                  <td>Kì:</td>
                  <td>{{ ki }}</td>
                </tr>
                <tr>
                  <td>Phần chơi:</td>
                  <td>{{ hui.soPhan }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="d-flex justify-content-center">
      <div class="col-12 col-sm-9 col-lg-6">
        <div *ngIf="hui">
          <h6
            style="margin-bottom: 2px; padding: 3px 0; line-height: 1; display: flex; justify-content: space-between; align-items: center"
            data-cy="huiDetailsHeading"
          >
            <span>CHI TIẾT</span>
          </h6>
          <div style="overflow-x: hidden">
            <table class="table table-striped table-detail" aria-describedby="page-heading">
              <thead style="text-align: center">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
                  <th jhiSortBy="ky" scope="col">
                    <div class="d-flex justify-content-center">
                      <span>Người hốt</span>
                      <!--  -->
                    </div>
                  </th>
                  <th jhiSortBy="ky" scope="col">
                    <div class="d-flex justify-content-center">
                      <span>Kỳ</span>
                    </div>
                  </th>
                  <th jhiSortBy="ky" scope="col">
                    <div class="d-flex justify-content-center">
                      <span>Tiền hốt</span>
                    </div>
                  </th>
                  <th jhiSortBy="ky" scope="col">
                    <div class="d-flex justify-content-center">
                      <span>Thăm kêu</span>
                    </div>
                  </th>
                  <th scope="col" jhiSortBy="id">
                    <div class="d-flex">
                      <span></span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let chiTietHui of chitietHuis">
                  <tr data-cy="entityTable" [ngStyle]="{ background: getColorByKi(chiTietHui.ky) }">
                    <!-- Nguoi hot -->
                    <td>
                      <!-- Nickname -->
                      <a [routerLink]="['/hui-vien', chiTietHui.huiVien.id, 'view']">
                        <ng-container *ngIf="!chiTietHui?.nickNameHuiVien">{{ chiTietHui.huiVien.hoTen }}</ng-container>
                        <ng-container *ngIf="!!chiTietHui?.nickNameHuiVien"
                          >{{ chiTietHui.huiVien.hoTen }} ({{ chiTietHui?.nickNameHuiVien }})</ng-container
                        >
                      </a>
                      <button style="height: 0; float: right" mat-icon-button (click)="openDialogChangeNickName(chiTietHui)">
                        <mat-icon style="font-size: 14px; line-height: normal; float: right"> edit </mat-icon>
                      </button>
                    </td>
                    <!-- Ky -->
                    <td style="text-align: center" *ngIf="chiTietHui?.ky; else noneTemplate">{{ chiTietHui?.ky }}</td>
                    <!-- Tien hot -->
                    <td *ngIf="chiTietHui?.tienHot; else noneTemplate">{{ chiTietHui?.tienHot | number }}đ</td>
                    <!-- Tham keu -->
                    <td
                      *ngIf="!chiTietHui?.thamKeu; else showThamKeu"
                      style="text-align: center; cursor: pointer"
                      (click)="openDialogNhapThamKeu(chiTietHui)"
                    >
                      Nhập
                    </td>
                    <ng-template #showThamKeu>
                      <td>{{ chiTietHui?.thamKeu | number }}đ</td>
                    </ng-template>

                    <!-- Show popup -->
                    <td
                      *ngIf="chiTietHui?.tienHot; else noneTemplate"
                      style="text-align: center; width: 10px; cursor: pointer"
                      (click)="xemTinhTien(chiTietHui)"
                    >
                      Xem
                    </td>

                    <ng-template #noneTemplate>
                      <td></td>
                    </ng-template>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between pb-4">
            <button class="back btn btn-info" data-cy="entityDetailsBackButton" routerLink="/hui" type="submit">
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
            </button>

            <button [routerLink]="['/hui', hui.id, 'edit']" class="edit btn btn-primary" type="button">
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
