<div class="d-flex justify-content-center">
  <div class="col-12 col-sm-9 col-lg-6">
    <div *ngIf="hui">
      <h2 data-cy="huiDetailsHeading">
        <span>Hụi {{ hui.id }}: {{ hui.tenHui }}</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Ngày tạo</span></dt>
        <dd>
          <span>{{ hui.ngayTao | formatMediumDate | date: 'shortDate' }}</span>
        </dd>
        <dt><span>Loại hụi</span></dt>
        <dd>
          <span>{{ hui.loaiHui! | enumToDescription }}</span>
        </dd>
        <dt><span>Dây hụi</span></dt>
        <dd>
          <span>{{ hui.dayHui | currency: 'VND':'symbol' }}</span>
        </dd>
        <dt><span>Số phần</span></dt>
        <dd>
          <span>{{ hui.soPhan }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/hui', hui.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>

<div style="height: 24px"></div>

<div class="d-flex justify-content-center">
  <div class="col-12 col-sm-9 col-lg-6">
    <div *ngIf="hui">
      <h2 data-cy="huiDetailsHeading"><span>Danh sách thành viên</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>
      <div style="overflow-x: auto">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
              <th jhiSortBy="ky" scope="col">
                <div class="d-flex">
                  <span>Người hốt</span>
                </div>
              </th>
              <th jhiSortBy="ky" scope="col">
                <div class="d-flex">
                  <span>Thăm kêu</span>
                </div>
              </th>

              <!-- <th></th> -->

              <th jhiSortBy="ky" scope="col">
                <div class="d-flex">
                  <span>Kỳ</span>
                </div>
              </th>

              <th jhiSortBy="ky" scope="col">
                <div class="d-flex">
                  <span>Tiền hốt</span>
                </div>
              </th>

              <th scope="col" jhiSortBy="id">
                <div class="d-flex">
                  <span></span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let chiTietHui of chitietHuis">
              <tr data-cy="entityTable" [ngStyle]="{ background: checkDate(chiTietHui.ngayKhui) }">
                <td>
                  <a [routerLink]="['/hui-vien', chiTietHui.huiVien.id, 'view']">{{ chiTietHui.huiVien.hoTen }}</a>
                </td>

                <td *ngIf="!chiTietHui?.thamKeu; else showThamKeu">
                  <button
                    mat-icon-button
                    aria-label="Example icon button with a open in new tab icon"
                    (click)="openDialogNhapThamKeu(chiTietHui)"
                  >
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                </td>
                <ng-template #showThamKeu>
                  <td>{{ chiTietHui?.thamKeu | currency: 'VND':'symbol' }}</td>
                </ng-template>
                <!-- <td *ngIf="!chiTietHui?.thamKeu; else showThamKeu" class="row">
                  <form (ngSubmit)="saveAddThamKeu(chiTietHui, thamkeuId)">
                    <input
                      style="width: 100%; min-width: 100px; display: inline-block; padding: 0"
                      type="number"
                      #thamkeuId
                      id="field_thamkeu"
                      data-cy="thamkeu"
                      type="text"
                      class="form-control"
                      name="thamkeu"
                    />
                  </form>
                </td>
                <ng-template #showThamKeu>
                  <td>{{ chiTietHui?.thamKeu | currency: 'VND':'symbol' }}</td>
                </ng-template> -->

                <!-- <td *ngIf="!chiTietHui?.thamKeu; else empty">
                  <button class="mat-mini-fab" color="primary" type="submit" mat-mini-fab aria-label="Example icon button with a home icon">
                    <mat-icon>check</mat-icon>
                  </button>
                </td> -->
                <ng-template #empty>
                  <td></td>
                </ng-template>
                <td *ngIf="chiTietHui?.ky; else noneTemplate">{{ chiTietHui?.ky }}</td>

                <ng-template #noneTemplate>
                  <td></td>
                </ng-template>

                <td *ngIf="chiTietHui?.tienHot; else noneTemplate">{{ chiTietHui?.tienHot | currency: 'VND':'symbol' }}</td>

                <td style="width: 10px">
                  <button
                    *ngIf="chiTietHui.id && chiTietHui?.thamKeu"
                    type="button"
                    (click)="xemTinhTien(chiTietHui)"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline"></span>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
