a {
  font-weight: bold;
  color: #000000;

  &:link {
    text-decoration: none;
  }
}

.sticky-top {
  position: sticky;
  background: #fafafa;
}

.hui-info td {
  font-weight: bold;
  text-align: center;
  border: 1px solid #3d3d3d;
}

.table-detail th,
td {
  border: 1px solid #3d3d3d;
  padding: 0 2px 0 5px !important;
  font-weight: bold;
  vertical-align: middle;
}

.container-content {
  padding: 1px;
}

@media (max-width: 1199.98px) {
  .table-detail th,
  td {
    font-size: 10px;
  }
  .responsive-font-size {
    font-size: 11px;
    line-height: 12px;
  }
  .sticky-top {
    top: 36px;
  }
}

@media (min-width: 1200px) {
  .responsive-font-size {
    font-size: 20px;
  }
  .sticky-top {
    top: 90px;
  }
}

// .mat-card::ng-deep {
//   display: none;
// }

.huiDetail {
  .card-global {
    display: none;
  }
}

.chupanh {
  margin: 0 auto !important;
}
