<div class="nickname-input" style="text-align: center">
  <form (ngSubmit)="save()">
    <div class="container" style="display: flex; align-items: center; margin-top: 14px; margin-bottom: 10px">
      <h5 style="font-size: 12px; font-weight: normal; margin: 0; padding: 0">Nickname:</h5>
      <input
        [disabled]="!!defaultValue"
        (change)="inputNickName($event)"
        [value]="defaultValue"
        matInput
        style="margin: 0 10px; width: 100%; font-size: 12px"
      />
      <button style="font-size: 12px; border: none" *ngIf="!defaultValue" type="submit">Lưu</button>
      <button *ngIf="defaultValue" type="submit" style="white-space: nowrap; font-size: 12px; border: none">Xoá</button>
    </div>

    <a style="font-size: 12px; margin-left: 10px; margin-top: 4px; color: #3e8acc !important" (click)="gotoDetail()"
      >Xem chi tiết: {{ data.ctHui.huiVien.hoTen }}
      <span *ngIf="data.ctHui.nickNameHuiVien">({{ data.ctHui.nickNameHuiVien }})</span>
    </a>
  </form>
</div>
