table {
  width: 100%;
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td,
.customers th {
  border: 1px solid #3d3d3d;
  padding: 2px 2px 2px 5px;
}

//.customers tr:nth-child(even) {
//  background-color: #f2f2f2;
//}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.customers tr td {
  font-weight: bold;
  &:first-child {
    width: 40%;
  }
}

.mat-dialog-content {
  max-height: 85vh;
}

h5 {
  font: 20px sans-serif;
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
}

h5.strikethrough-line {
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;

  span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 10px;

    &:before,
    &:after {
      content: '';
      display: block;
      width: 1000px;
      position: absolute;
      top: 0.73em;
      border-top: 1px solid #fe0002;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }
  }
}

.responsive-font-size {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@media (min-width: 1200px) {
  .responsive-font-size {
    font-size: 15px;
  }
}

@media (max-width: 1199.98px) {
  .responsive-font-size {
    font-size: 12px;
  }
}
