<div>
  <h2 id="page-heading" data-cy="HuiVienHeading">
    <span>Hụi viên</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Làm mới danh sách</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hui-vien"
        [routerLink]="['/hui-vien/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Thêm hụi viên </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="huiViens?.length === 0">
    <span>Không có hụi viên trong danh sách</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="huiViens && huiViens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!--          <th scope="col" jhiSortBy="id">-->
          <!--            <div class="d-flex">-->
          <!--              <span>ID</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <th scope="col" jhiSortBy="hoTen">
            <div class="d-flex">
              <span>Họ tên</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!--          <th scope="col" jhiSortBy="sdt">-->
          <!--            <div class="d-flex">-->
          <!--              <span>Sdt</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->

          <th scope="col" jhiSortBy="sdt">
            <div class="d-flex">
              <span>Hụi đang tham gia</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let huiVien of huiViens; trackBy: trackId" data-cy="entityTable">
          <!--          <td>-->
          <!--            <a [routerLink]="['/hui-vien', huiVien.id, 'view']">{{ huiVien.id }}</a>-->
          <!--          </td>-->
          <td>{{ huiVien.hoTen }}</td>
          <!--          <td>{{ huiVien.sdt }}</td>-->
          <td>
            <ul *ngIf="!!huiVien?.chiTietHuis">
              <li *ngFor="let huiThamGia of huiVien?.chiTietHuis">
                <a [routerLink]="['/hui', huiThamGia?.hui?.id, 'view']">{{ huiThamGia?.hui?.tenHui }}</a>
              </li>
            </ul>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/hui-vien', huiVien.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Xem</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/hui-vien', huiVien.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Sửa</span>
              </button>

              <button type="submit" (click)="delete(huiVien)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Xóa</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="huiViens && huiViens.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
