<div>
  <h2 id="page-heading" data-cy="HuiVienHeading">
    <span>Hụi viên</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hui-vien"
        [routerLink]="['/hui-vien/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Thêm hụi viên </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="huiViens?.length === 0">
    <span>Không có hụi viên trong danh sách</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="huiViens && huiViens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="hoTen">
            <div class="d-flex">
              <span>Họ tên</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let huiVien of huiViens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/hui-vien', huiVien.id, 'view']">{{ huiVien.hoTen }}</a>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button (click)="delete(huiVien)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton" type="submit">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Xóa</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
