<div>
  <h2 id="page-heading" data-cy="HuiHeading">
    <div class="d-flex justify-content-stretch pt-1">
      <button [routerLink]="['/hui-vien']" class="btn btn-primary jh-create-entity create-hui me-1">
        <span> Danh sách thành viên</span>
      </button>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hui ms-1"
        [routerLink]="['/hui/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Tạo hụi mới</span>
      </button>
    </div>
    <h2 style="padding-top: 10px"><span>Danh sách hụi</span></h2>
  </h2>

  <!-- loại hụi -->
  <mat-form-field class="loai-hui-filter" appearance="fill">
    <mat-label>Loại hụi</mat-label>
    <mat-select [formControl]="loaiHuiControl" multiple>
      <!-- <mat-option *ngFor="let topping of loaiHuiValues" [value]="topping">{{ topping }}</mat-option> -->
      <mat-option *ngFor="let loaiHui of loaiHuiValues" [value]="loaiHui">{{ loaiHui | enumToDescription }}</mat-option>
    </mat-select>
  </mat-form-field>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="huis?.length === 0">
    <span>No Huis found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="huis && huis.length > 0">
    <table class="table table-striped list-hui" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="tenHui">
            <div class="d-flex" style="font-size: 11px">
              <span>Tên hụi</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="tenHui">
            <div class="d-flex" style="font-size: 11px">
              <span>Loại hụi</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="ngayTao">
            <div class="d-flex" style="font-size: 11px">
              <span>Ngày tạo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngIf="arrFilter.length < 0 || isNoFilter; else arrFilterTemplate">
          <tr *ngFor="let hui of huis; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/hui', hui.id, 'view']">
                {{ hui.tenHui }}
              </a>
            </td>
            <td style="min-width: 70px">{{ hui.loaiHui | enumToDescription }}</td>
            <td style="min-width: 70px">{{ hui.ngayTao | formatMediumDate }}</td>
            <td class="text-end">
              <div class="btn-group">
                <button type="submit" (click)="delete(hui)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline">Xoá</span>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>

        <ng-template #arrFilterTemplate>
          <tr *ngFor="let hui of arrFilter; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/hui', hui.id, 'view']">
                {{ hui.tenHui }} <br />
                {{ hui.loaiHui | enumToDescription }} || dây {{ hui.dayHui | currency: 'VND':'symbol' }} || {{ hui.soPhan }} phần
              </a>
            </td>
            <td style="min-width: 70px">{{ hui.loaiHui | enumToDescription }}</td>
            <td style="min-width: 70px">{{ hui.ngayTao | formatMediumDate | date: 'shortDate' }}</td>
            <td class="text-end">
              <div class="btn-group">
                <button type="submit" (click)="delete(hui)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline">Xoá</span>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
