<div>
  <h2 id="page-heading" data-cy="HuiHeading">
    <span>Danh sách hụi</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hui"
        [routerLink]="['/hui/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Tạo hụi mới</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="huis?.length === 0">
    <span>No Huis found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="huis && huis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="tenHui">
            <div class="d-flex">
              <span>Tên hụi</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ngayTao">
            <div class="d-flex">
              <span>Ngày tạo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let hui of huis; trackBy: trackId" data-cy="entityTable">
          <td style="white-space: nowrap">
            <a [routerLink]="['/hui', hui.id, 'view']">
              {{ hui.tenHui }} || {{ hui.loaiHui | enumToDescription }} || dây {{ hui.dayHui | currency: 'VND':'symbol' }} ||
              {{ hui.soPhan }} phần
            </a>
          </td>
          <td>{{ hui.ngayTao | formatMediumDate | date: 'shortDate' }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" (click)="delete(hui)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Xoá</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
