<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Danh sách hụi</mat-card-title>
    <div class="example-button-container">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <ngx-datatable
      class="material"
      [rows]="rows"
      columnMode="force"
      [headerHeight]="50"
      [footerHeight]="0"
      [rowHeight]="50"
      [scrollbarV]="true"
      [scrollbarH]="true"
    >
      <ngx-datatable-column name="Name" [width]="300"></ngx-datatable-column>
      <ngx-datatable-column name="Gender"></ngx-datatable-column>
      <ngx-datatable-column name="Age"></ngx-datatable-column>
      <ngx-datatable-column name="City" [width]="300" prop="address.city"></ngx-datatable-column>
      <ngx-datatable-column name="State" [width]="300" prop="address.state"></ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>

<!-- khoi.hlt TODO: call real api -->
<!-- <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="tenHui">
            <div class="d-flex">
              <span>Ten Hui</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loaiHui">
            <div class="d-flex">
              <span>Loai Hui</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dayHui">
            <div class="d-flex">
              <span>Day Hui</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kiHienTai">
            <div class="d-flex">
              <span>Ki Hien Tai</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phanChoi">
            <div class="d-flex">
              <span>Phan Choi</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hui of huis; trackBy: trackId" data-cy="entityTable">
          <td>{{ hui.tenHui }}</td>
          <td>{{ hui.loaiHui }}</td>
          <td>{{ hui.dayHui }}</td>
          <td>{{ hui.kiHienTai }}</td>
          <td>{{ hui.phanChoi }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button mat-icon-button [routerLink]="['/hui', hui.id, 'edit']">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button (click)="delete(hui)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table> -->
<!-- <mat-card-actions>
    <div *ngIf="huis && huis.length > 0">
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </mat-card-actions> -->

<!-- <div>
  <h2 id="page-heading" data-cy="HuiHeading">
    <span>Danh sách hụi</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hui"
        [routerLink]="['/hui/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Hui </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="huis?.length === 0">
    <span>No Huis found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="huis && huis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tenHui">
            <div class="d-flex">
              <span>Ten Hui</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loaiHui">
            <div class="d-flex">
              <span>Loai Hui</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dayHui">
            <div class="d-flex">
              <span>Day Hui</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kiHienTai">
            <div class="d-flex">
              <span>Ki Hien Tai</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phanChoi">
            <div class="d-flex">
              <span>Phan Choi</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hui of huis; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/hui', hui.id, 'view']">{{ hui.id }}</a>
          </td>
          <td>{{ hui.tenHui }}</td>
          <td>{{ hui.loaiHui }}</td>
          <td>{{ hui.dayHui }}</td>
          <td>{{ hui.kiHienTai }}</td>
          <td>{{ hui.phanChoi }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/hui', hui.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/hui', hui.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(hui)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="huis && huis.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div> -->
