<div>
  <div class="d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h1 data-cy="loginTitle">Đăng nhập</h1>

      <div class="alert alert-danger" *ngIf="authenticationError" data-cy="loginError">
        <strong>Đăng nhập thất bại!</strong> Vui lòng kiểm tra thông tin đăng nhập.
      </div>

      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="mb-3">
          <label class="username-label" for="username">Tài khoản</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="Tên đăng nhập"
            formControlName="username"
            #username
            data-cy="username"
          />
        </div>

        <div class="mb-3">
          <label for="password">Mật khẩu</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Mật khẩu"
            formControlName="password"
            data-cy="password"
          />
        </div>


        <button class="btn btn-primary" data-cy="submit" type="submit">Đăng nhập</button>
      </form>
    </div>
  </div>
</div>
