<div>
  <h2 id="page-heading" data-cy="ChiTietHuiHeading">
    <span>Chi tiết hụi</span>

    <div class="d-flex justify-content-end">
      <!-- <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Làm mới danh sách</span>
      </button> -->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chi-tiet-hui"
        [routerLink]="['/chi-tiet-hui/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Tạo mới chi tiết hụi </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chiTietHuis?.length === 0">
    <span>No Chi Tiet Huis found</span>
  </div>

  <div class="table-responsive table-modules" id="modules" *ngIf="chiTietHuis && chiTietHuis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hui.id">
            <div class="d-flex">
              <span>Hụi</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="huiVien.id">
            <div class="d-flex">
              <span>Hụi Viên</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="thamKeu">
            <div class="d-flex">
              <span>Thăm kêu</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ngayKhui">
            <div class="d-flex">
              <span>Ngày khui</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chiTietHui of chiTietHuis; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chi-tiet-hui', chiTietHui.id, 'view']">{{ chiTietHui.id }}</a>
          </td>
          <td>
            <div *ngIf="chiTietHui.hui">
              <a [routerLink]="['/hui', chiTietHui.hui.id, 'view']">{{ chiTietHui.hui.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="chiTietHui.huiVien">
              <a [routerLink]="['/hui-vien', chiTietHui.huiVien.id, 'view']">{{ chiTietHui.huiVien.id }}</a>
            </div>
          </td>
          <td>{{ chiTietHui.thamKeu }}</td>
          <td style="white-space: nowrap">{{ chiTietHui.ngayKhui | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/chi-tiet-hui', chiTietHui.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/chi-tiet-hui', chiTietHui.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(chiTietHui)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="chiTietHuis && chiTietHuis.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
